.stat {
  background-color: var(--b3);
  border-radius: 0.5rem;
  padding: 1rem;

  .stat-title {
    font-size: 0.875rem;
    opacity: 0.7;
  }

  .stat-value {
    font-size: 1.25rem;
    font-weight: bold;
  }
}
