<header class="navbar bg-base-300 h-16">
  <nav class="flex justify-between gap-4 container mx-auto max-sm:gap-2">
    <a class="text-center self-center" routerLink="/">SpaceCorps 2025</a>
    @if ((authState$ | async)?.isLoggedIn) {
      <app-main-menu></app-main-menu>
    }
    <ul class="flex gap-2 items-center">
      @if ((authState$ | async)?.isLoggedIn) {
        <a class="btn bg-base-200" routerLink="/" (click)="logOut()">
          Log Out
        </a>
      }
      <button class="btn bg-base-200" (click)="togglePatchInfo()">
        Patch Info
      </button>
    </ul>
  </nav>
</header>

@if (showPatchInfo) {
  <div
    class="rounded-lg"
    (click)="togglePatchInfo()"
  >
    <app-github-timeline />
  </div>
}
