<header class="navbar bg-base-300 h-16">
  <nav class="flex justify-between gap-4 container mx-auto max-sm:gap-2">
    <a class="text-center self-center" routerLink="/">SpaceCorps 2025</a>

    @if ((authState$ | async)?.isAuthenticated) {
      <app-main-menu></app-main-menu>
    }

    <ul class="flex gap-2 items-center">
      @if ((authState$ | async)?.isAuthenticated) {
        <a class="btn bg-base-200" routerLink="/" (click)="logOut()">
          Log Out
        </a>
      }

      <div class="relative">
        <button class="btn bg-base-200" (click)="togglePatchInfo()">
          Patch Info
        </button>

        @if (showPatchInfo) {
          <div
            class="patch-info-container absolute top-full mt-2 right-0 h-full"
          >
            <div class="card w-94 bg-base-100 shadow-xl">
              <div class="card-body p-0">
                <div
                  class="h-[600px] overflow-y-auto resize-y min-h-[300px] max-h-[900px]"
                >
                  <app-github-timeline></app-github-timeline>
                </div>
              </div>
            </div>
          </div>
        }
      </div>
    </ul>
  </nav>
</header>
