.stat {
  padding: 1rem;
  
  .stat-title {
    font-size: 0.875rem;
    opacity: 0.7;
  }
  
  .stat-value {
    font-weight: bold;
  }
  
  .stat-desc {
    font-size: 0.75rem;
    opacity: 0.5;
  }
}

.card {
  width: 100%;
  
  .card-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
}

img {
  object-fit: cover;
} 