@if (error) {
  <app-error-modal [error]="error"></app-error-modal>
}
@if (!(authState$ | async)!.isLoggedIn) {
  <main class="flex items-center justify-center">
    <section class="card bg-base-300/75 w-96 shadow-xl my-70">
      <article class="card-body flex flex-col items-center">
        @if (isLoginView) {
          <app-login-form
            (toggleViewEvent)="onToggleView()"
            (toggleLoginEvent)="onLogin($event)"
          />
          <app-login-as-admin-btn
            (toggleLoginEvent)="onLogin($event)"
          ></app-login-as-admin-btn>
        } @else {
          <app-register-form
            (toggleViewEvent)="onToggleView()"
            (toggleRegisterEvent)="onRegister($event)"
          />
        }
      </article>
    </section>
  </main>
}
