<div class="card bg-base-100/50 shadow-xl flex flex-col items-center container min-w-xs">
  <ul class="flex flex-row bg-base-200 justify-around p-4 w-full">
    <li>Worldwide Top</li>
    <li>Clan Top</li>
  </ul>
  <div class="card-body">
    <div class="overflow-x-auto">
      <table class="table table-xs">
        <thead>
        <tr>
          <th></th>
          <th></th>
          <th>Exp:</th>
          <th>RP:</th>
          <th>ALD:</th>
          <th>SLD:</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th>1</th>
          <td>Vasiliy Pupkin</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
