@use 'tailwindcss';

.chapter-content {
  @apply min-h-[30rem];
}

markdown ::ng-deep {
  h1 {
    @apply text-4xl my-4;
  }

  h2 {
    @apply text-3xl;
  }

  h3 {
    @apply text-2xl;
  }

  h4 {
    @apply text-xl;
  }

  h5 {
    @apply text-lg;
  }

  h6 {
    @apply text-base;
  }

  p {
    @apply text-base;
  }
}
