@use 'tailwindcss';

.chapter-content {
  min-height: 30rem;
}

markdown ::ng-deep {
  h1 {
    font-size: 2.25rem;
    margin: 1rem 0;
  }

  h2 {
    font-size: 1.875rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1.25rem;
  }

  h5 {
    font-size: 1.125rem;
  }

  h6 {
    font-size: 1rem;
  }

  p {
    font-size: 1rem;
  }
}
