<section class="container mx-auto">
  <div class="grid grid-cols-2 gap-4 p-4 items-center bg-base-100/75">
    <iframe class="video"
            width="560"
            height="315"
            src="https://www.youtube.com/embed/pby7Wt_-ncs"
            title="YouTube Video"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
    ></iframe>
    <div class="mainpage-info">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum nihil quaerat quos. Ab, cupiditate ducimus
        eius excepturi facere fuga hic illum ipsam maxime minima qui quia sapiente ut. A blanditiis commodi delectus,
        deleniti dolorem dolores earum est eum iusto magni nesciunt, non numquam officia possimus saepe suscipit
        tempore tenetur ut veniam voluptate. Ab ad adipisci aliquid, asperiores autem magni nemo officia possimus quis
        quisquam tenetur voluptatem. At dolorem dolores, earum eveniet, excepturi, explicabo id illum inventore magnam
        molestias nesciunt nisi nulla odit quas quo recusandae vero! Accusantium aperiam cum necessitatibus, non
        officia perferendis quasi repellendus sint unde veniam voluptas, voluptates.
      </p>
    </div>
  </div>
  <app-home-carousel></app-home-carousel>
</section>
