<section class="container mx-auto">
  <div
    class="grid grid-cols-1 lg:grid-cols-2 gap-8 p-8 items-center bg-base-100/75 rounded-lg shadow-xl max-w-7xl mx-auto"
  >
    <iframe
      class="video mx-auto w-full max-w-2xl aspect-video rounded-lg shadow-md"
      src="https://www.youtube.com/embed/pby7Wt_-ncs"
      title="YouTube Video"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
    <div class="mainpage-info prose prose-invert max-w-xl mx-auto lg:mx-0 text-center lg:text-left space-y-6">
      <h2 class="text-3xl font-bold leading-tight">
        A shattered utopia. A divided humanity. A galaxy on fire.
      </h2>
      <p class="text-lg">
        In SpaceCorps, peace was a fleeting dream — now fractured factions,
        rogue corporations, and exiled scientists wage brutal wars across the
        solar system. Dark matter fuels their fleets, ancient rivalries shape
        their battles, and the future of civilization teeters on the edge of
        oblivion.
      </p>
      <p class="text-xl font-semibold">Choose your allegiance! Decide humanity's fate!</p>
    </div>
  </div>
  <app-home-carousel></app-home-carousel>
</section>
