<section class="container mx-auto pb-40">
  <div class="grid grid-cols-1 lg:grid-cols-2 gap-4 p-4 items-center bg-base-100/75 responsive-column-collapse mx-auto">
    <iframe class="video mx-auto"
            width="560"
            height="315"
            src="https://www.youtube.com/embed/pby7Wt_-ncs"
            title="YouTube Video"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
    ></iframe>
    <div class="mainpage-info max-w-[560px] mx-auto">
      <h2 class="text-2xl font-bold">
        A shattered utopia. A divided humanity. A galaxy on fire.
      </h2>
      <br>
      <p>
        In SpaceCorps, peace was a fleeting dream — now fractured factions, rogue corporations, and exiled scientists
        wage brutal wars across the solar system. Dark matter fuels their fleets, ancient rivalries shape their battles,
        and the future of civilization teeters on the edge of oblivion.
      </p>
      <br>
      <p>
        Choose your allegiance! Decide humanity’s fate!
      </p>
    </div>
  </div>
  <app-home-carousel></app-home-carousel>
</section>
