@use "tailwindcss";

@plugin "daisyui" {
  themes: dark, light, black, dracula, night, sunset, business, abyss, winter, acid
} ;

@plugin "daisyui/theme" {
  name: sc_default;
  default: true;
  prefersdark: false;
  color-scheme: dark;
  --color-base-100: oklch(19.38% 0.0303 44.27);
  --color-base-200: oklch(19.69% 0.0133 18.34);
  --color-base-300: oklch(13.18% 0.0173 53.31);
  --color-base-content: oklch(95.04% 0.012 101.49);
  --color-primary: oklch(55.42% 0.1412 48.91);
  --color-primary-content: oklch(95.04% 0.012 101.49);
  --color-secondary: oklch(52.98% 0.13 52.79);
  --color-secondary-content: oklch(90.54% 0.0581 78.86);
  --color-accent: oklch(42.46% 0.1628 24.55);
  --color-accent-content: oklch(30.39% 0.1196 24.37);
  --color-neutral: oklch(24.5% 0.0048 67.6);
  --color-neutral-content: oklch(94.99% 0.0106 106.6);
  --color-info: oklch(35.93% 0.1111 260.09);
  --color-info-content: oklch(71.85% 0.069 261.16);
  --color-success: oklch(92.84% 0.1151 100.82);
  --color-success-content: oklch(25.07% 0.0625 38.3);
  --color-warning: oklch(63.98% 0.1443 62.92);
  --color-warning-content: oklch(25.07% 0.0625 38.3);
  --color-error: oklch(44.89% 0.1251 39.29);
  --color-error-content: oklch(25.07% 0.0625 38.3);
  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}
