.background-image-container {
  position: relative;
  width: 100%;
  background-image: url('../assets/images/main_background.png');
  background-repeat: no-repeat;
  background-position: center top;
  min-height: 1000px;
}
