.background-image-container {
  position: relative;
  width: 100%;
  background-image: url('../assets/images/main_background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}
